* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row::before {
  display: table;
  content: "";
}

.row::after {
  display: table;
  content: "";
  clear: both;
}

.col-1 {
  float: left;
  width: 8.33333333%;
}

.col-2 {
  float: left;
  width: 16.666666666666667%;
}

.col-3 {
  float: left;
  width: 25%;
}

.col-4 {
  float: left;
  width: 33.333333333333333333%;
}

.col-5 {
  float: left;
  width: 41.666666666666667%;
}

.col-6 {
  float: left;
  width: 50%;
}

.col-7 {
  float: left;
  width: 58.333333333333332%;
}

.col-8 {
  float: left;
  width: 66.666666666666667%;
}

.col-9 {
  float: left;
  width: 75%;
}
